{% extends 'base.html' %}

{% block title %} Group Manager{% endblock %}

{% block head %}
	<style>
	#group_form {
		width: 50%;
        padding: 12px 20px;
        margin: auto;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-size: 22px;
        background-color: white;
	}
	
	input {
		border: 2px solid #ccc;
		border-radius: 4px;
	}
	
	.submitbutton {
        margin: 8px 30%;
        width: 40%;
        background: #394D61;
        border: none;
        padding: 8px 10px 8px 10px;
        border-radius: 5px;
        color: #A8BACE;
        font-size: 22px;
    }
    .submitbutton:hover{
        background: #24384C;
        color: white;
    }

    </style>
{% endblock %}

{% block body_block %}
	<p>&nbsp;</p>
    <p>&nbsp;</p>
    <h1>Create a Group</h1>

	<form id="group_form" method="post" action="/webapp/groups/" enctype="multipart/form-data">
		{% csrf_token %}
		{{ group_form.as_p }}
		<input type="submit" value="Create Group" class="submitbutton" />
	</form>
	
{% endblock %}