{% extends 'base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title %}{% endblock %}

{% block head %}
    <style>
        .formclass {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 25%;
            box-sizing: border-box;
            border: none;
            outline: none;
            margin-rigth: auto;
            font-size: 22px;
        }

        .formclass {
            background-color: white;
        }
        .links:link {
            text-decoration: none;
            color: gray;
        }
        .links:visited {
            color: gray;
        }
        #map_container {
            width:95%;
            margin:2.5%;
            background-color: #6C7C8B;
            height:660px;
            position: relative;
            overflow:hidden;
        }
        #map {
            width: 45%;
            height: 90%;
            margin: 2.5% 0 0 3%;
            background-color: #CCC;
            position: absolute;
            float:left;
        }
        #map_text {
            width: 45%;
            height: 90%;
            margin: 2.5% 0 0 52% ;
            background-color: #6C7C8B;
            position: absolute;
            float: right;
            overflow: auto;
        }
        #map_panel {
            width: 100%;
            min-height: 20%;
            background-color: white;
            overflow: hidden;
            border-bottom-color: #CCC;
        }
        #map_panel_left {
            width: 48%;
            height: 80%;
            float: left;
            border-right: 1px solid #CCC;
            margin-top: 2%;
            margin-left: 2%;
        }
        #map_panel_right {
            width: 48%;
            height: 80%;
            float: right;
            margin-top: 2%;
        }
        .controls {
                margin-top: 10px;
                border: 1px solid transparent;
                border-radius: 2px 0 0 2px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 32px;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            }
        #pac-input {
                background-color: #fff;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                margin-left: 12px;
                padding: 0 11px 0 13px;
                text-overflow: ellipsis;
                width: 300px;
            }
        #pac-input:focus {
                border-color: #4d90fe;
            }
        .pac-container {
                font-family: Roboto;
            }
        #type-selector {
                color: #fff;
                background-color: #4d90fe;
                padding: 5px 11px 0px 11px;
            }
        #type-selector label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
            }
        #target {
                width: 345px;
            }
    </style>
{% endblock %}


{% block body_block %}
{% if user.is_authenticated %}
            
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <input id="pac-input" class="controls" display='none' type="text" placeholder="Search Box">
    <div id="map_container">
        <div id="map"></div>
        <div id="map_text">
        </div>
    </div>

<script src="http://maps.googleapis.com/maps/api/js?&libraries=places,geometry"></script>

<script>    
    var game_list = {{ game_list|safe }}
    var user_list = {{ userprofiles|safe }}
    var num_date = "";
    var readable_date = "";
    var months = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var markers=[];
    var contents = [];
    var infowindows = [];

    function popupCenter(url, title, w, h) {
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    }
    
    //This for loop takes all of the Games from our database and turns
    //them into markers to be displayed on the local games map
    for (i = 0; i < game_list.length; i++) { 
        markers[i] = new google.maps.Marker({
            position: new google.maps.LatLng(game_list[i].fields.latitude, game_list[i].fields.longitude),
            title: game_list[i].fields.sport
        });

        num_date = game_list[i].fields.date, read_date = num_date.split('-');
        readable_date = months[(read_date[1]/1)] + ' ' + read_date[2] + ', ' + read_date[0]
        
        markers[i].index = i; //add index property
        markers[i].sport = game_list[i].fields.sport;
        markers[i].description = game_list[i].fields.description;
        markers[i].date = readable_date;
        markers[i].rawDate = game_list[i].fields.date;
        markers[i].time = game_list[i].fields.time;
        markers[i].owner = game_list[i].fields.ownerName;
        markers[i].joinees = {};
        //Need to change this logic.  It works but may not be safe if accounts are deleted
        //Should be something like if user_list.pk == game_list.fields.joinees[var] then user_list.[gamelistjoinee].username
        for (j = 0; j < game_list[i].fields.joinees.length; j++) {
            markers[i].joinees[j] = user_list[game_list[i].fields.joinees[j]-1].fields.username;
        }
        
        contents[i] = '<div class="popup_container"><b>' + game_list[i].fields.sport + '</b>' +
            '<div id="popup_body"><p>' + game_list[i].fields.description + '</p><p>' + readable_date +
            ' at ' + game_list[i].fields.time + ' with ' + game_list[i].fields.ownerName +'</p></div></div>';

        infowindows[i] = new google.maps.InfoWindow({
            content: contents[i],
            maxWidth: 300
        });
    }
    
    function closestGames(location, markers) {
        var closest=[];
        var distanceApart;
        document.getElementById("map_text").innerHTML="";
        
        for (i= 0; i < markers.length; i++) {
            distanceApart = google.maps.geometry.spherical.computeDistanceBetween(location, markers[i].getPosition());
            if (distanceApart < 80000) {
                markers[i].distanceApart = Math.round(distanceApart/160.934)/10;
                closest.push(markers[i]);
            }
        }
        
        //Loop through the array of the closest markers and add each markers
        //Info box on the right part of the screen
        for (i= 0; i < closest.length; i++) {
            var joinedyet = 0;
            var element = document.createElement('div');
            var left = document.createElement('div');
            var right = document.createElement('div');
            element.id = 'map_panel';
            left.id = 'map_panel_left';
            right.id = 'map_panel_right';
            var joinString = "<p> Players: ";
            for (var j in closest[i].joinees) {
                if (closest[i].joinees[j] == String("{{ username|safe }}")) {
                    joinedyet = 1;
                }
                //joinString = joinString.concat(closest[i].joinees[j] + " ");
                joinString = joinString.concat('<a class="links" href="account/' + closest[i].joinees[j] + '">'+ closest[i].joinees[j] +'</a>' + " ");
            }
            joinString = joinString.concat('</p>');
            
            left.innerHTML="<br>" + closest[i].sport + " Game " + closest[i].distanceApart + " Miles Away<br>" + 
            closest[i].date + " at " + closest[i].time + joinString;
                
            if(joinedyet == 0) {
                right.innerHTML = "<br>"+ closest[i].description + '<form name="joingame" action="/webapp/" method="post" enctype="multipart/form-data">' + 
                '<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">' + '<input type="hidden" name="game" value="' + closest[i].owner + " "
                + closest[i].sport + " " + closest[i].rawDate +'"/>' + 
                '<input type="submit" value="Join Game" />' + '</form>';
            }
            if(joinedyet == 1) {
                right.innerHTML = "<br>"+ closest[i].description
            }
            //Alternating boxes will have alternating colors
            if(i%2 == 0) {
                element.style.backgroundColor="#F3F3F3";
            }
            element.appendChild(left);
            element.appendChild(right);
            document.getElementById('map_text').appendChild(element);
        }
    }
            
            function initMap() {
                var latLng = new google.maps.LatLng(36.0764, -94.1608);
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, {
                    center: latLng,
                    zoom: 13,
                    streetViewControl: false
                });
                
                // Create the search box and link it to the UI element.
                var input = document.getElementById('pac-input');
                var autoComplete = new google.maps.places.Autocomplete(input);
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                
                
                for (i = 0; i < game_list.length; i++) {
                    markers[i].setMap(map);
                    
                    google.maps.event.addListener(markers[i], 'click', function() {
                        console.log(this.index); // this will give correct index
                        infowindows[this.index].open(map,markers[this.index]);
                        map.panTo(markers[this.index].getPosition());
                    });  
                }

                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        latLng = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        /*infoWindow.setPosition(pos);
                        infoWindow.setContent('Current location.');*/
                        map.setCenter(latLng);
                    }, function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                    }
                
                closestGames(latLng, markers);
                // Listen for the event fired when the user selects a prediction and retrieve
                // more details for that place.
                autoComplete.addListener('place_changed', function() {
                    var place = autoComplete.getPlace();

                    if (place.length == 0) {
                        return;
                    }

                    // Update marker
                    latLng = place.geometry.location;

                    // Create a marker for each place.
                    map.setCenter(latLng);
                    
                    closestGames(latLng, markers);
                });
                

                /*google.maps.event.addListener(marker,'click',function() {
                    map.setZoom(9);
                    map.setCenter(marker.getPosition());
                    });*/
            }

            function handleLocationError(browserHasGeolocation, infoWindow, latLng) {
                infoWindow.setPosition(latLng);
                infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            }

            google.maps.event.addDomListener(window, 'load', initMap);
</script>

{% endif %}
{% endblock %}

