{% extends 'base.html' %}

{% block title %} Login{% endblock %}

{% block head %}
<style> 
.formclass {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 25%;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-rigth: auto;
    font-size: 22px;
}

.formclass {
    background-color: white;
}
    
::-webkit-input-placeholder {
   color: lightgray;
}
    
    
.submitbutton {
    margin: 8px 30%;
    width: 40%;
    background: #394D61;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
    font-size: 22px;
}
.submitbutton:hover{
    background: #24384C;
    color: white;
}    
  
</style>
{% endblock %}

{% block body_block %}
        <h1 style="text-align:center;font-size:300%;">Login</h1>

        <form id="login_form" method="post" action="/webapp/login/">
            {% csrf_token %}
            <input type="text" name="username" value="" class="formclass" placeholder="username" />
            <br />
            <input type="password" name="password" value="" class="formclass" placeholder="password" />
            <br />

            <input type="submit" value="submit" class="submitbutton"/>
        </form>

{% endblock %}