{% extends 'base.html' %}

{% block title %} Register{% endblock %}


{% block head %}
<style> 
.userformclass {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 25%;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-rigth: auto;
    font-size: 22px;
}

.userformclass {
    background-color: white;
}
    
::-webkit-input-placeholder {
   color: lightgray;
}
    
    
.submitbutton {
    margin: 8px 30%;
    width: 40%;
    background: #394D61;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
    font-size: 22px;
}
.submitbutton:hover{
    background: #24384C;
    color: white;
}    

    
</style>
{% endblock %}


{% block body_block %}
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h1 style="text-align:center;font-size:300%;">Register</h1>

        {% if registered %}
        Thank you for registering.
        <a href="/webapp/">Return to the homepage.</a><br />
        {% else %}

        <form id="user_form" method="post" action="/webapp/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {% load widget_tweaks %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            <!--{{ user_form.as_p }}-->
            
            {{ user_form.first_name|attr:"placeholder:First Name"|add_class:"userformclass"}}
            {{ user_form.last_name|attr:"placeholder:Last Name"|add_class:"userformclass"}}
            {{ user_form.email|attr:"placeholder:Email: example@email.com"|add_class:"userformclass"}}
            {{ user_form.username|attr:"placeholder:Username"|add_class:"userformclass"}}
            {{ user_form.password|attr:"placeholder:Password"|add_class:"userformclass"}}
            
            <!--This is something that can be done in account settings-->
            <!--{{ profile_form.as_p }}-->

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" class="submitbutton" name="submit" value="Sign Up!" />
        </form>
        {% endif %}

{% endblock %}